.employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.employee {
    background-color: hotpink;
    margin: 0.5rem;
    border: 2px dotted fuchsia;
    padding: 0.5rem;
    color: black;
}

.employee__footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}

.employee__header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}